/* -------- GOOGLE FONTS -------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600&display=swap');

/* --------- CSS VARIABLES -------- */

:root {
  --header-height: 3rem;

  /* --------- COLOURS --------- */
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 30%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: (hsl(var(--hue)), var(--sat), 46%);
  --body-color: (hsl(var(--hue)), var(--sat), 98%);
  --container-color: #FFFFFF;
  --background-color: rgb(250, 250, 250);
  --pastel-teal: #A8E6CE;
  --darker-teal: #89d6b8;

  --pastel-green: #DCEDC2;
  --pastel-orange:  #FFD3B5;
  --pastel-peach: #FFAAA6;
  --pastel-pink: #ff8c94;
  --darker-pink: #f6838b;
  --darker-orange:  #f6a26a;



  /* -------- FONTS --------- */
  --body-font: "Inter", sans-serif;

  /* Sizes */
  --big-font-size: 3.5rem;
  --h1-font-size: 2.5rem;
  --h2-font-size: 1.8rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813 rem;
  --tiny-font-size: 0.625rem;

  /* Weights */
  --font-thin: 100;
  --font-normal: 300;
  --font-medium: 400;
  --font-bold: 600;

  /* -------- MARGINS BOTTOM -------- */
  --mb-0-25: 0.25rem;
  --mb-0-5 : 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* --------- Z INDEX --------- */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* -------- RESPONSIVE FONTS -------- */
@media screen and (max-width: 992px) {
    :root {
      --big-font-size: 2.75rem;
      --h1-font-size: 1.5rem;
      --h2-font-size: 1.25rem;
      --h3-font-size: 1rem;
      --normal-font-size: 0.94rem;
      --small-font-size: 0.81rem;
      --smaller-font-size: 0.75 rem;
    }
}

/* ---------- BASE --------- */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--body-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea{
  font-family: var(--body-font);
  font-size: var(--normal-font-size)
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color)
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

/* -------- CSS CLASSES ------- */

.section {
  padding: 6rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* --------- LAYOUT --------- */
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* --------- BUTTONS -------- */
.button {
  display: inline-block;
  background-color: var(--container-color);
  border: 1px solid var(--title-color);
  color: var(--title-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-bold);
  transition: 0.3s;
}

.button:hover {
  border: 1px solid var(--pastel-pink);
  color: var(--pastel-pink);
  transform: scale(1.03);
}

.button__icon {
  margin-left: var(--mb-0-5);
}
.button--flex {
  display: inline-flex;
  align-items: center;
}

/* -------- BREAKPOINTS ---------- */
/* Large devices */
@media screen and (max-width: 992px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

  .button {
    padding: 1rem 1.75rem;
  }

}

/* Medium devices */
@media screen and (max-width: 768px) {
  .section {
    padding: 2rem 0 4rem;
  }
}

@media screen and (max-width: 576px) {
}

/* Small devices */
@media screen and (max-width: 350px) {
  :root {
    --big-font-size: 2.25rem;
  }

  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1 );
  }
}
