/* -------- GOOGLE FONTS -------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600&display=swap');

/* --------- CSS VARIABLES -------- */

:root {
  --header-height: 3rem;

  /* --------- COLOURS --------- */
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 20%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: (hsl(var(--hue)), var(--sat), 46%);
  --body-color: (hsl(var(--hue)), var(--sat), 98%);
  --container-color: #FFFFFF;

  /* -------- FONTS --------- */
  --body-font: "Inter", sans-serif;

  /* Sizes */
  --big-font-size: 3.5rem;
  --h1-font-size: 2.5rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813 rem;
  --tiny-font-size: 0.625rem;

  /* Weights */
  --font-thin: 100;
  --font-normal: 300;
  --font-medium: 400;
  --font-bold: 600;

  /* -------- MARGINS BOTTOM -------- */
  --mb-0-25: 0.25rem;
  --mb-0-5 : 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* --------- Z INDEX --------- */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* -------- RESPONSIVE FONTS -------- */
@media screen and (max-width: 992px) {
    :root {
      --big-font-size: 2.75rem;
      --h1-font-size: 1.5rem;
      --h2-font-size: 1.25rem;
      --h3-font-size: 1rem;
      --normal-font-size: 0.94rem;
      --small-font-size: 0.81rem;
      --smaller-font-size: 0.75 rem;
    }
}
